:root {
  --body-background: #FFFFFF;
  --sections-background: #F1F5F7;

  --header-menu: #293449;
  --header-menu-dark: #161D29;

  --checkout-button: #63A63E;
  --checkout-button-hover: #5FBB2D;
  --checkout-button-active: #518534;

  --main-section-materials: #FFBF47;
  --main-section-tools: #3BBCE3;
  --main-section-machinery: #DC91D8;
  --main-section-discount: #8ED78F;
  --main-section-delivery: #FFC047;

  --title-stratching: #F9F5F0;

  --form-elements-fill: #F7F3EC;
  --form-button: #E5E5E5;

  --old-price: #A9A9A9;

  --basic-blue: #32425C;
  --basic-blue-transparent: rgba(50, 66, 92, 0.5);
  --basic-dark-blue:  #293449;
  --basic-extra-dark-blue:  #1D2739;
  --basic-black: #000000;

  --basic-grey: #3D546F;
  --basic-grey-light: #C5C5C5;
  --border-grey: #EAEAEA;

  --basic-white: #FFFFFF;
  --basic-white-transparent: rgba(255, 255, 255, 0.3);

  --basic-red: #EE3643;
  --basic-red-dark: #CA2C37;
  --basic-red-extra-dark: #BA2732;

  --basic-yellow: #FFD180;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* font-family: 'Cuprum', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--body-background);
}

.button {
  background-color:  var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
}

.main-header {
  background-color:  var(--sections-background);
  margin-bottom: 119px;
}

.main-header-menu {
  background-color: var(--header-menu);
}

.checkout {
  background-color: var(--checkout-button);
}

.checkout:hover {
  background-color: var(--checkout-button-hover);
}

.search-field {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--header-menu);
  border: none;
}

.search-field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.selected {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-item {
  font-size: 18px;
  line-height: 24px;
}

.selected-cart-active {
  background-color: var(--basic-red);
}

.main-slogan {
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  color: var(--basic-red);
}

.header-phone-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-decoration: none;
}

.header-contact-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
  margin: 0;
}

.authorization-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.authorization-item-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: capitalize;
}

.authorization-item-link:hover {
  color: var(--basic-red);
}

.authorization-item-link:active {
  color: var(--basic-grey-light);
}

.account-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--basic-white);
}

.account-item {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
}

.account-item:active {
  color: var(--basic-grey-light);
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  text-decoration: none;
}

.profile-link:hover {
  color: var(--basic-red);
}

.profile-link:active {
  color: var(--basic-grey-light);
}

.main-navigation {
  background-color: var(--basic-blue);
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation-item:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation-item:active {
  background-color: var(--basic-extra-dark-blue);
}

.site-navigation-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-decoration: none;
}

.main-sections-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-sections-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.main-sections-link {
  background-color: var(--basic-white-transparent);
}

.materials-section {
  background-color: var(--main-section-materials);
}

.tools-section {
  background-color: var(--main-section-tools);
}

.machinery-section {
  background-color: var(--main-section-machinery);
}

.discount-section {
  background-color: var(--main-section-discount);
}

.delivery-section {
  background-color: var(--main-section-delivery);
}

.carousel {
  background-image: url('../img/slider/slider-1.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.carousel-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.carousel-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.carousel-button-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel-link:hover {
  background-color: var(--basic-red-dark);
}

.carousel-link:active {
  background-color: var(--basic-red-extra-dark);
}

.products-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  margin: 0;
}

.title-stratching {
  background-color: var(--title-stratching);
}

.products-link:hover {
  background-color: var(--basic-red-dark);
}

.products-link:active {
  background-color: var(--basic-red-extra-dark);
}


.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-title-link {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-decoration: none;
}

.products-price-old {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--old-price);
}

.products-price-new {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.purchase-button {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--checkout-button);
  cursor: pointer;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  border: 1px solid var(--checkout-button);
}

.purchase-button:hover {
  background-color: var(--checkout-button-hover);
}

.purchase-button:active {
  background-color: var(--checkout-button-active);

}

.bookmarks-button {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-blue);
  background-color: transparent;
  border: 3px solid var(--checkout-button);
  border-radius: 2px;
  cursor: pointer;
}

.bookmarks-button:hover {
  border: 3px solid var(--basic-blue);
}

.bookmarks-button:active {
  border: 3px solid var(--basic-blue-transparent);
}

.manufacturers-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  margin: 0;
}

.manufacturers-link:hover {
  background-color: var(--basic-red-dark);
}

.manufacturers-link:active {
  background-color: var(--basic-red-extra-dark);
}

.manufacturers-image {
  margin: 0;
}

.manufacturers-image-link {
  border: 1px solid var(--border-grey);
  display: block;
  width: 220px;
  height: 145px;
  margin: 0;
  text-align: center;
}


.manufacturers-image-link img {
  max-width: 100%;
  height: auto;
  /* display: inline-block; */

}

.services {
  background-color: var(--sections-background);
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 70px;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  grid-column: 1/-1;
  margin: 0;
}

.services-description {
  margin-left: 80px;
}

.services-slogan,
.services-description-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
}

.services-slogan {
  grid-column: 1/-1;
}

.services-description-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  margin: 0;
}

.services-list {
  padding: 0;
  margin: 0;
}

.services-description-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: none;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  cursor: pointer;
  min-width: 240px;
  padding: 0;
}

.services-button:hover {
  background-color: var(--basic-dark-blue);
}

.services-item .services-button-active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.about-us-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.about-us-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
}

.about-us-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.about-us-details {
  margin: 0;
}

.about-us-details-link:hover {
  background-color: var(--basic-red-dark);
}

.about-us-details-link:active {
  background-color: var(--basic-red-extra-dark);
}

.contacts-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.contacts-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
}

.contacts-image {
  margin: 0;
}

.contacts-button {
  border: none;
}

.contacts-button:hover {
  background-color: var(--basic-red-dark);
}

.contacts-button:active {
  background-color: var(--basic-red-extra-dark);
}

.footer-links {
  background-color: var(--basic-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--basic-dark-blue);
}

.footer-copyright {
  margin: 0;
}

.footer-navigation {
  grid-column: 2/-1;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.footer-navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.footer-phone-link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

.footer-navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-main-navigation .footer-navigation-link {
  color: var(--basic-white);
}

.footer-main-navigation .footer-navigation-link:hover {
  text-decoration: underline;
}

.footer-main-navigation .footer-navigation-link:active {
  opacity:  0.5;
  text-decoration: none;
}

.footer-sections-navigation .footer-navigation-link {
  color: var(--basic-yellow);
}

.footer-sections-navigation .footer-navigation-link:hover {
  text-decoration: underline;
}

.footer-sections-navigation .footer-navigation-link:active {
  opacity:  0.5;
  text-decoration: none;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: center;
}

.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}

.footer-feedback {
  font-size: 14px;
  margin: 0;
}

.footer-developer {
  margin: 0;
}

.footer-feedback-link,
.footer-developer-link {
  color: var(--basic-yellow);
  text-decoration: none;
}

.footer-feedback-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active,
.footer-developer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue);
  text-transform: uppercase;
  background-color: var(--sections-background);
  margin: 0;
}

.filters-title {
  background-color: var(--form-elements-fill);
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-subsection {
  border: none;
}

.filter-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-price-range {
  background-color: var(--form-elements-fill);
}

.filter-price-min,
.filter-price-max {
  background-color: var(--form-elements-fill);
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  color: var(--basic-black);
  text-align: center;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
}

.filter-manufacturers-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-option {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-option-input:hover + .filter-option-title,
.filter-option-input:focus + .filter-option-title {
  opacity: 0.4;
}

.filter-supply-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: transparent;
  border: 1px solid var(--form-button);
  cursor: pointer;
}

.form-button:active {
  border: 1px solid var(--basic-red);
}

.sorting {
  background-color: var(--form-elements-fill);
}

.sorting-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sorting-type-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-type-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline dotted var(--basic-red);
}

.sorting-type-item:hover .sorting-type-button {
  opacity: 1;
  text-decoration: underline var(--basic-red);
}

.sorting-type-current .sorting-type-button,
.sorting-type-current:hover .sorting-type-button {
  color: var(--basic-red);
  opacity: 1;
  text-decoration: none;
}

.sorting-direction-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* временные стили */
.sorting-direction-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  border: none;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item-link {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  color: var(--basic-black);
  background-color: transparent;
  border: 1px solid var(--form-button)
}

.pagination-item:active .pagination-item-link {
  border: 1px solid var(--basic-red)
}

.pagination-item-current .pagination-item-link {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.category-description {
  background-color: var(--sections-background);
}

.category-description-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.category-description-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.page {
  height: 100%;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header-menu {
  display: grid;
  grid-template-columns: min-content 271px 300px 150px;
}

.main-header-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-slogan {
  width: 240px;
  margin: 0;
}

.header-contact-wrapper {
  width: 270px;
  justify-self: center;
}

.header-contact-phone {
  margin: 0;
}

.authorization-list {
  width: 281px;
  justify-self: end;
}

.main-sections-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 59px;
}

.carousel {
  grid-column: 1/3;
  grid-row: 2/-1;
}

.title-stratching {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 20px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 70px;
  gap: 20px;
}

.company-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products-image {
  margin: 0;
  padding: 0;
}

.products-image img {
  max-width: 100%;
  height: auto;
}

.products-item-title {
  margin: 0;
}

